.NavBar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
  color: white;
  font-weight: bold;
}

.NavBar h1, .NavBar a h1 {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  display: inline;
}

.NavList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavList li, .NavList a {
  list-style: none;
  padding: 0 25px;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  display: inline;
}

.NavList a:hover, .NavBar h1:hover {
  color: #444;
  transition: ease-in-out .2s;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .NavBar {
    display: flex;
    flex-flow: column;
    width: 100vw;
    padding: 0;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-weight: bold;
    color: #444;

  }
  .NavBar h1, .NavBar a h1 {
    color: #444;

  }
  .NavList {
    justify-content: center;
    text-align: center;
    padding: 15px 0;
    margin: 0;
    color: #444;

  }
  .NavList li, .NavList a {
    padding: 0;
    text-align: center;
    color: #444;
  }
}